@tailwind base;
@tailwind components;
@tailwind utilities;

.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

* {
    font-family: Montserrat;
}

.bg-custom-gradient {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.toggle-div {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .toggle-div:not(.hidden) {
    opacity: 1;
  }